<div class="aside__body">
  <div class="aside__toggleable">
    <% if user_signed_in? %>
    <div class="aside__new-article">
      <%= link_to new_article_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'aside__new-article_button'} do  %>
        <%=icon('fas', 'plus', class: 'strong') %>
      <% end %>
    </div>
    <% end %>
    <%= render partial: 'heartlike/partials/heartlike_brand' %>

    <ul class="aside__nav">
      <li class="aside__nav_item"><%=link_to 'Home', heartlike.root_path %></li>
      <% %w(pages contact help categories about).each do |link| %>
        <li class="aside__nav_item"><a href="#"><%=link %></a></li>
      <% end %>
    </ul>

    <div class="aside__footer">
      <div class="aside__footer_user--info">
        <% if user_signed_in? %>
          <i><%= current_user.email %></i>
        <% else %>
          <i><%= link_to 'Log in', new_user_session_path %></i>
        <% end %>
      </div>

      <div class="aside__footer_user--actions"></div>
      <% if user_signed_in? %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>

  <div class="aside__toggle" id="aside__toggle">
    <%=icon('fas', 'ellipsis-v', class: 'strong') %>
  </div>
</div>