<div class="heartlike__aside">
  <%= render 'heartlike/layouts/aside' %>
</div>
<div class="heartlike__content" id="heartlike__content">
  <div id="article__new"></div>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <div id="heartlike__body">
    <% if content_for?(:title) %>
        <div class="col-md-6 mx-auto">
          <h1 class="page__title mt-5" id="page__title"><%= yield :title %></h1>
        </div>
    <% end %>
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag 'heartlike/application', 'data-turbolinks-track': 'reload' %>
