
  <div class="heartlike__form">
    <%= form_for(@article, remote: true) do |form| %>
      <div class="field p-2">
        <%= form.label :title %>
        <%= form.text_field :title, class:'form-control' %>
      </div>

      <div class="field p-2">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>

      <div class="field p-2">
        <%= form.file_field :thumbnail %>
      </div>

      <div class="actions mt-2">
        <%= form.submit 'Save', class: 'heartlike__button' %>
      </div>
    <% end %>
  </div>

