<% provide(:title, @article.title ) %>

<div class="show_article">
  <div class="show_article__content">
    <p>
      <%= @article.body %>
    </p>
    <div class="article__meta">
      <p>
        <strong>Created by:</strong>
        <%= @article.user_id %>
      </p>

      <p>
        <strong>Published at:</strong>
        <i><%= l(@article.created_at, format: :long) %></i>
      </p>
    </div>
    <%= render_hearts(@article)%>
  </div>


<div class="heartlike__buttons">
  <%= link_to 'Edit', edit_article_path(@article), class:'heartlike__button' %>
  <%= link_to 'Back', articles_path, class:'heartlike__button' %>
</div>

</div>